<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="pillsReminder" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="pillsReminder" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="pillsReminder" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="pillsReminder" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/app/styles/dist/style.css">
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">
    upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<md-toolbar class="md-whiteframe-glow-z1 ">
    <div class="md-toolbar-tools">
        <a>
            pillsReminder
        </a>
        <span flex></span>

        <md-button data-ng-click="showSignInDialog($event)">
            Логин
        </md-button>
    </div>
</md-toolbar>


<div layout="column" flex>
    <div data-ui-view="header"></div>

    <div data-ui-view="content"></div>
</div>





<script src="/app/scripts/dist/script.js"></script>
</body>
</html>
