﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.IsInRole("Doctor"))
                {
                    @Html.ActionLink("Пациенты", "Index", "Patients", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Схемы", "Index", "Schedules", new { area = "" }, new { @class = "navbar-brand" })
                    <a class="navbar-brand" href="http://pillsreminder.azurewebsites.net/Patients/ViewChart/?userid=testpatient">Графики<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 21.5469px; top: -13px; transform: scale(3.85965); background-color: rgb(255, 255, 255);"></div></div></a>
                }
                @if (User.IsInRole("Patient"))
                {
                    @Html.ActionLink("Принять", "TakePills", "Patients", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Сделано для Random Hacks of Kindness - deployment works</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>$.material.init()</script>
    @RenderSection("scripts", required: false)
</body>
</html>
