﻿@using PillsReminder.Models
@model PillsReminder.Models.PatientStatus

@{
    switch (Model)
    {
        case PatientStatus.AllPillsTaken:
            <span class="glyphicon glyphicon-ok-sign" style="color: green" title="Все таблетки приняты вовремя"></span>
            break;
        case PatientStatus.AcceptableMissed:
            <span class="glyphicon glyphicon-ok-sign" style="color: #E3E34A"  title="Есть допустимое количество пропусков"></span>
            break;
        case PatientStatus.ManyMissed:
            <span class="glyphicon glyphicon-exclamation-sign" style="color: red" title="Большое количество пропусков"></span>
            break;


    }

}
