﻿@model PillsReminder.ViewModels.ScheduleViewModel

@{
    ViewBag.Title = "Удалить схему";
}

<div class="well">
    <h2>Удаление схемы</h2>
    <hr />

    <h3>Вы уверены, что хотите удалить схему @Model.Name?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-raised btn-danger" /> |
                @Html.ActionLink("К списку схем", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        }
    </div>
    </div>
