﻿@model PillsReminder.ViewModels.ScheduleViewModel

@{
    ViewBag.Title = "Просмотр схемы";
}

<h2>Схема @Model.Name</h2>
<hr />

<div class="row">
    <div class="well bs-component col-md-offset-3 col-md-6">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TakingTimes)
                </dt>

                <dd>
                    @if (Model != null && Model.TakingTimes.Count > 0)
                    {
                        <ul style="list-style-type: none; padding: 0; margin: 0">
                            @foreach (var obj in Model.TakingTimes)
                            {
                                <li>
                                    @Html.DisplayFor(model => obj.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.DisplayFor(model => obj.Time, new { htmlAttributes = new { @class = "form-control" } })
                                </li>
                                <br />
                            }
                        </ul>
                    }
                </dd>

            </dl>
        </div>
    </div>
</div>

        <p>
            @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("К списку схем", "Index")
        </p>
