﻿@model PillsReminder.ViewModels.ScheduleViewModel

@{
    ViewBag.Title = "Изменение схемы";
}

<h2>Изменить схему лечения</h2>
<hr />

<div class="row">
    <div class="well bs-component col-md-offset-3 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TakingTimes, htmlAttributes: new { @class = "control-label col-md-2" })
                    @if (Model != null && Model.TakingTimes.Count > 0)
                    {
                        <div class="col-md-5">
                            <ul style="list-style-type: none; padding: 0; margin: 0" id="taking-time">
                                @for (int i = 0; i < Model.TakingTimes.Count; i++)
                                {
                                    var obj = Model.TakingTimes[i];
                                    <li class="takingTimesRow">
                                        @Html.HiddenFor(model => model.TakingTimes[i].Id)

                                        @Html.EditorFor(model => model.TakingTimes[i].Description, new { htmlAttributes = new { @class = "form-control desc" } })
                                        @Html.ValidationMessageFor(model => model.TakingTimes[i].Description, "", new { @class = "text-danger desc" })

                                        @Html.EditorFor(model => model.TakingTimes[i].Time, new { htmlAttributes = new { @class = "form-control time" } })
                                        @Html.ValidationMessageFor(model => model.TakingTimes[i].Time, "", new { @class = "text-danger time" })
                                        <a href="javascript:void(0);" class="remRow">Удалить</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    <a href="javascript:void(0);" class="addRow">Добавить время</a>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Сохранить" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("К списку схем", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".addRow").click(function () {
                var rowCount = $('.takingTimesRow').length;
                var $x = $('#taking-time');
                $x.append($x.children().last()[0].outerHTML);

                $x.children().last().find("input.time").attr('name', 'TakingTimes[' + rowCount + '].Time');
                $x.children().last().find("span.time").attr('name', 'TakingTimes[' + rowCount + '].Time');

                $x.children().last().find("input.desc").attr('name', 'TakingTimes[' + rowCount + '].Description');
                $x.children().last().find("span.desc").attr('name', 'TakingTimes[' + rowCount + '].Description');
            });

            $("#taking-time").on('click', '.remRow', function () {

                $(this).closest('.takingTimesRow').remove();

                $('.takingTimesRow').find("input.time").each(function (index) {
                    $(this).attr('name', 'TakingTimes[' + index + '].Time');
                });

                $('.takingTimesRow').find("span.time").each(function (index) {
                    $(this).attr('name', 'TakingTimes[' + index + '].Time');
                });

                $('.takingTimesRow').find("input.desc").each(function (index) {
                    $(this).attr('name', 'TakingTimes[' + index + '].Description');
                });

                $('.takingTimesRow').find("span.desc").each(function (index) {
                    $(this).attr('name', 'TakingTimes[' + index + '].Description');
                });
            });
        });
    </script>
}
