﻿@model IEnumerable<PillsReminder.ViewModels.ScheduleViewModel>

@{
    ViewBag.Title = "Список схем";
}

<h2>Список схем</h2>

<p>
    @Html.ActionLink("Добавить", "Create", null, htmlAttributes: new { @class = "btn btn-raised btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Подробнее", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
