﻿
@model PillsReminder.ViewModels.ScheduleViewModel

@{
    for (int i = 0; i < Model.TakingTimes.Count; i++)
    {
        var obj = Model.TakingTimes[i];
        <li class="takingTimesRow">
            @Html.EditorFor(model => model.TakingTimes[i].Description, new { htmlAttributes = new { @class = "form-control desc"} })
            @Html.ValidationMessageFor(model => model.TakingTimes[i].Description, "", new { @class = "text-danger desc"})

            @Html.EditorFor(model => model.TakingTimes[i].Time, new { htmlAttributes = new { @class = "form-control time"} })
            @Html.ValidationMessageFor(model => model.TakingTimes[i].Time, "", new { @class = "text-danger time"})
            <a href="javascript:void(0);" class="remRow">Удалить</a>
        </li>
    }
}
