﻿@model PillsReminder.ViewModels.PatientViewModel

@{
    ViewBag.Title = "Удаление";
}
<div class="well">
    <h2>Удалить карточку пациента</h2>

    <h3>Вы уверены?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal lead">
            <dt>
                @Html.DisplayNameFor(model => model.Login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateBorn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateBorn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Schedule)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Schedule)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-raised btn-danger" /> |
                @Html.ActionLink("Вернуться к списку пациентов", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
    }
    </div>
</div>