﻿@model PillsReminder.ViewModels.PatientViewModel

@{
    ViewBag.Title = "Пациент";
}

<h2>Пациент</h2>

<div class="row">
    <div class="well bs-component col-md-offset-3 col-md-6">
        <div>
            <h4>Пациент</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Login)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Login)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateBorn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateBorn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Schedule)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Schedule)
                </dd>

            </dl>
        </div>
    </div>
</div>

        <p>
            @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("К списку пациентов", "Index")
        </p>
