﻿
@{
    ViewBag.Title = "Принять";
}

<h2>Принять</h2>


<div style="margin-bottom: 10px;height: 25px;">
    @Html.ActionLink("Принять", "TakeFlower", "Patients", null, new { @class = "btn btn-default" })
</div>