﻿@{
    ViewBag.Title = "ViewChart";
}

<div class="well">
    <h2>График приёма лекарств</h2>
    <canvas id="line-chart-sample" width="400" height="400"></canvas>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script>
        var chartData = {
            labels: [],
            datasets: [{
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: []
            },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: []
                }]
        };

        var jsonData =@Html.Raw(ViewBag.ChartData);

//        var jsonData = {
//            "User": "Test Patient", "TakenDays": [{"Date": "2016-03-26", "Times": ["12:00", "12:00"]},
//                {"Date": "2016-03-27", "Times": ["12:00", "12:00"]}]
//        };
//
        for (var i = 0; i < jsonData.TakenDays.length; i++) {
            var takenDay = jsonData.TakenDays[i];
            chartData.labels.push(takenDay.Date);
            for (var j=0;j<takenDay.Times.length;j++) {
                chartData.datasets[j].data.push(takenDay.Times[j].split(':')[0])
            }
        }


        window.onload = function () {

            window.PatientPills = new Chart(document.getElementById("line-chart-sample").getContext("2d")).Line(chartData, {
                responsive: true,
                scaleOverride: true,
                scaleSteps: 24,
                scaleStepWidth: 1,
                scaleStartValue: 0
            });
        }

    </script>
</div>

